
body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 50px; }

body {
    background-color: paleturquoise;
}

h1 {
    text-align: center;
    font-size: 8em;
    color: darkturquoise
}

p {
    text-align: center;
    font-size: 5em;
    color: darkturquoise;
}

img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}